<%= javascript_tag do %>
	$(document).ready(function() {
		$('#datatable').dataTable();
	} );
<% end %>

<%= extra_columns %>

<table id="datatable">
	<thead>
  <tr>
		<% columns.each do |column| %>
		<th><%= column.capitalize %></th>
		<% end %>
		
		<% extra_columns.each_key do |extra| %>
		<th><%= extra_columns[extra][:title] %></th>
		<% end %>
		
    <th></th>
    <th></th>
    <th></th>
  </tr>
	</thead>
	<tbody>
<% collection.each do |record| %>
	
  <tr>
		<% columns.each do |column| %>
    	<td><%= record.send(column) %></td>
		<% end %>
		
		<% extra_columns.each_key do |extra| %>
			<% if extra_columns[extra].include?(:text) %>
				<td><%= extra_columns[extra][:text] %></td>
			<% else %>
				<td><%= send("#{current_model}.#{extra_columns[extra][:relationship]}}") %></td>
			<% end %>
		<% end %>
		
		<% if actions.include?(:show) %>
			<% route = actions[:show].include?(:route) ? actions[:show][:route] : record %>
    	<td><%= link_to actions[:show][:title], route, actions[:show][:html] %></td>
		<% else %>
			<td><%= link_to 'Show', route %></td>
		<% end %>
		
		<% if actions.include?(:edit) %>
			<% route = actions[:edit].include?(:route) ? send(actions[:edit][:route], record) : send("edit_#{current_model}_path", record) %>
    	<td><%= link_to actions[:edit][:title], route, actions[:edit][:html] %></td>
		<% else %>
			<td><%= link_to 'Edit', send("edit_#{current_model}_path", record) %></td>
		<% end %>
		
		<% if actions.include?(:destroy) %>
			<% route = actions[:show].include?(:route) ? actions[:destroy][:route] : record %>
    	<td><%= link_to actions[:destroy][:title], route, actions[:destroy][:html], method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% else %>
			<td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>

  </tr>
<% end %>
	</tbody>
</table>